[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
django = "==2.2.13"
djangorestframework = "*"
pylint = "*"
pillow = "*"
zappa = "*"
django-storages = "*"
"boto3" = "*"
django-imagekit = "*"
django-environ = "*"

[requires]
python_version = "3.6"
